
html {
    position: relative;

}
body{
  font-family: sans-serif;
  background: #FFFFFC;
  padding-left: 25px;
  padding-right: 25px;

}

.CDUlogo{
    position: relative;
    width:25%;
    margin-top:-30px;
  }

h1{
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  margin-top: -1px;
  text-align: center;
  font-family:sans-serif;
  background: #201644;
  background-size: 100%;
  font-size: 2em;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #35393C;
  color: white;
  text-align: center;
}

h2{
  font-size: 20px;
}

li{
  display: inline;
}

h3{
  margin-top: 30px;
}

h3 span{
  color: white;
  padding: 15px;
  border-radius: 5px;
  clear: both;
  background-color:#201644;
  box-shadow: 5px 5px #888888;
}

h4{
  font-size: 20px;
}

.item{
  diplay: block;
  background-color: #201644;
  color: white;
  cursor: point;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-left: 1px;

}

.item a{
  color: white;
  padding: 2px 5px;
  text-decoration: none;
}

.desc{
  margin: auto;
  text-align: justify;
}


.card img{
  padding: 3px;
  margin-top: 5px;
  width: 400px;
  height: 300px;

}
.all_cards{
  margin-left: -20px;
  margin-right: 0px
}
 .wrap{
   width: auto;
   margin: auto;
   text-align: center;
 }


 .card{
   text-align: center;
   width: 410px;
   float: left;
   margin: 24px;
   border-style: ridge;
   border-radius: 5px;
   margin-bottom: 100px;
   box-shadow: 5px 10px #cccccc ;
   transition: 0.2s linear;
 }

 .card:hover{
   cursor: pointer;
   box-shadow: 5px 10px #888888;
 }
 .collapsible{
  display: block;
  background-color: #201644;
  color: white;
  cursor: point;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-left: 1px;

}

.content {
  color: white;
  padding: 0 17px;
  overflow: hidden;
  text-align: justify;
  font-family:arial;
}


.background_img{
  background-image: url("https://cdn.lynda.com/course/441605/441605-636269220092757522-16x9.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: block;
  top:200px;

}

.nav_menu{
  float: right;
}

.nav_menu a{
  color: black;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
}


.nav_menu a ul{
  margin: 0;
  padding: 0;
  display: flex;
}



.nav_menu a ul li{
  height: 30px;
  line-height: 50px;
  display: block;
}

.nav_menu a:hover{
  background-color: #42858C;
}

.nav_menu li a:hover:not(.active) {
  text-decoration: none;
  background-color: #555;
  color: white;
  transition: 0.6s ease
}
.nav_menu li:hover
.nav_menu li a.active {
  color: #42858C;
  background-color: #555;
}

.all_cards{
  margin-top: 50px;
}



#hcontent, #hcontent2, #hcontent3{
  display: none;
}

.menu_icon{
  display: inline-block;
  cursor: pointer;
  position: relative;
  display: none;
  float: right;
  top:10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}


@media only screen and (max-width: 750px) {

  .nav_menu{
    display: none;
    background: #FFFFFC;
    position: relative;
    width: 100%;
    height: 50vh;
    top: 50px;
    left: 0;
    transition: 0.5s;
   }

   .nav_menu ul li{
     display: block;
     text-align: center;
     border: 1px solid gray;
     padding: 15px 30px;
     margin-bottom: 10px

   }



    .menu_icon{
    display: block;
  }
    .card {
    width: 350px;
  }
    .card img{
    width: 340px
  }
    .CDUlogo{
    width: 50%;
    left: 110px;
    margin-bottom: -30px;
  }
    h1{
    margin-top: 50px;
  }
    body{
    padding: 7px;
  }
