
html {
    position: relative;

}
body{
  font-family: sans-serif;
  background: #FFFFFC;
  padding-left: 15px;
  padding-right: 15px;

}


.CDUlogo{
    position: relative;
    width:25%;
    margin-top: 40px;
  }



h1{
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  margin-top: 5px;
  text-align: center;
  font-family:sans-serif;
  background: #201644;
  background-size: 100%;
  font-size: 2em;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #35393C;
  color: white;
  text-align: center;
}




li{
  display: inline;
}

h3 span{
  color: white;
  padding: 15px;
  border-radius: 5px;
  clear: both;
  background-color:#201644;
  box-shadow: 5px 5px #888888;




}

h4{
  font-size: 20px;
}




.item{
  display: block;
  background-color: #201644;
  color: white;
  cursor: point;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-left: 1px;

}

.item a{
  color: white;
  padding: 2px 5px;
  text-decoration: none;
}

.desc{
  margin: auto;
  text-align: justify;
}


.card img{
  padding: 3px;
  margin-top: 5px;
  width: 340px;
  height: 300px;

}
.all_cards{
  margin-left: -20px;
  margin-right: 0px
}
 .wrap{
   width: auto;
   margin: auto;
   text-align: center;
 }


 .card{
   text-align: center;
   width: 350px;
   float: left;
   margin: 10px;
   border-style: ridge;
   border-radius: 5px;
   margin-bottom: 100px;
   box-shadow: 5px 10px #888888;


   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-timing-function: ease-in-out;
   animation-timing-function: ease-in-out;
   animation-iteration-count: 1;
   -webkit-animation-iteration-count: 1;
        ###https://codepen.io/halink0803/pen/qdVXqm got code from here
 }


 .collapsible{
  display: block;
  background-color: #201644;
  color: white;
  cursor: point;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin-left: 1px;

}

.content {
  color: white;
  padding: 0 17px;
  overflow: hidden;
  text-align: justify;
  font-family:arial;
}


.background_img{
  background-image: url("https://cdn.lynda.com/course/441605/441605-636269220092757522-16x9.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: block;
  top:200px;

}

ul{
  list-style-type: none;
  right: 0px;
  top: 0;
  width: 100%;
  color: black;
  font-size: 20px;
  float: right;
  text-align: right;
  position: absolute;

}

.header a{
  color: black;
  padding: 5px 15px;
  text-decoration: none;


}

.header a:hover{
  background-color: #42858C;
}

.header li a:hover:not(.active) {
  text-decoration: none;
  background-color: #555;
  color: white;
  transition: 0.6s ease
}

.header li a.active {
  color: #42858C;
}

/*
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
*/

.all_cards{
  margin-top: 50px;
}
.card:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

#hcontent, #hcontent2, #hcontent3{
  display: none;
}

@media only screen and (max-width: 600px) {
  .CDUlogo{
    position: relative;
    width:80%;
  }
  .background_img{
    display: none;
  }

  body{
    padding: 10px;
  }

  }
